In [1]:
import sys
import re

import numpy as np
import pandas as pd

import plotly.express as px
import cufflinks as cf
cf.go_offline()

import seaborn as sns
import matplotlib.pyplot as plt

import sqlite3
import duckdb

In [2]:
# read dataset

conn = duckdb.connect('diamonds_train.db')

In [3]:
# criando um cursor
cursor = conn.cursor()

# executando uma query
cursor.execute('SELECT * FROM system.information_schema.tables')

# iterando sobre os resultados
for row in cursor.fetchall():
    print(row)

('diamonds_train', 'main', 'diamonds_dimensions', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('diamonds_train', 'main', 'diamonds_transactional', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('diamonds_train', 'main', 'diamonds_properties', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('diamonds_train', 'main', 'diamonds_cut', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('diamonds_train', 'main', 'diamonds_color', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('diamonds_train', 'main', 'diamonds_clarity', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('diamonds_train', 'main', 'diamonds_city', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)

In [4]:
#descobrindo tabelas
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
tables = cursor.fetchall()
print(tables)

[('diamonds_dimensions',), ('diamonds_transactional',), ('diamonds_properties',), ('diamonds_cut',), ('diamonds_color',), ('diamonds_clarity',), ('diamonds_city',)]

In [5]:
#criando tabela

d_city = conn.execute("SELECT * FROM diamonds_city").fetch_df()
print(d_city)

                                              city_id           city
0   0013c01fe0d094209b8bd3d23b8f96dbabcd01ddd2a039...      Amsterdam
1   1e73b1647343b286269d517e6f07e6e07ccef10cd7b785...         Zurich
2   2bd25cd960aba8b706e2b67f2bb38b750ee5384b0e9883...      Las Vegas
3   5a59ef2e40c5f89adb8c0c6ad0a8019b0e252fff530cf2...  New York City
4   5dd272b4f316b776a7b8e3d0894b37e1e42be3d5d3b204...          Paris
5   68371d5bdaab31b5cbc25fbf94b8f9c1238294fc50e715...       Tel Aviv
6   6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...          Dubai
7   89c7286890f7347ab235234e74d406596a127ae3679042...       Kimberly
8   ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...          Surat
9   ca3aa21a5b70c3e88cc6336682c8c7da928a0c66a5ead4...        Antwerp
10  e9c722cbefc2f055ae60b4e2cbe73a2d99537eab0c37f3...         Madrid
11  ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...         London
12  ed76f191621cf6ed77eab6a8013d1cb4bdfa89a75a24aa...     Luxembourg

In [6]:
d_clarity = conn.execute("SELECT * FROM diamonds_cut").fetch_df()
print(d_clarity)

                                              cut_id        cut
0  388655e25e91872329272fc10128ef5354b3b19a05d7e8...  Very Good
1  4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...      Ideal
2  c939327ca16dcf97ca32521d8b834bf1de16573d21deda...       Good
3  de88c121a82a06352bf1aaceba20578356408a334ba046...    Premium
4  f7b19afcde965ea4942b878d266f89f8ba9a5a833e60f7...       Fair

In [15]:
d_clarity.head(10)

                                              cut_id        cut
0  388655e25e91872329272fc10128ef5354b3b19a05d7e8...  Very Good
1  4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...      Ideal
2  c939327ca16dcf97ca32521d8b834bf1de16573d21deda...       Good
3  de88c121a82a06352bf1aaceba20578356408a334ba046...    Premium
4  f7b19afcde965ea4942b878d266f89f8ba9a5a833e60f7...       Fair

In [21]:
# SQL query to join 7 tables based on a common column
query = """
SELECT *
FROM diamonds_city
JOIN diamonds_clarity ON city_id = clarity_id
JOIN diamonds_color ON clarity_id = color_id
"""

# execute the query and fetch the results
cursor.execute(query)
results = cursor.fetchall()

# print the results
for row in results:
    print(row)

NameError: name 'diamonds_city' is not defined