In [1]:
SELECT c.id AS category_id, c.category, p.title, p.views, p.id AS post_id
FROM categories c
LEFT JOIN LATERAL (
    SELECT title, views, id
    FROM posts
    WHERE category_id = c.id
    ORDER BY views DESC, id
    LIMIT 2
) p ON true
ORDER BY c.category, p.views DESC NULLS LAST, p.id;

SyntaxError: invalid syntax (2992344914.py, line 1)